<!-- apps/home/templates/home/index.html -->
{% extends "base.html" %}

<!-- static file load -->
{% load static %}

<!-- rendering data setting from db -->
{% block title %} {{setting.title}} {{ block.super }} | Home{% endblock title %}
{% block keywords %} {{setting.keywords}} {% endblock %}
{% block description %} {{setting.description}} {% endblock %}

{% block content %}


	<!-- SLIDER -->
	{% include "./inc/slider.html" %}
	<!-- SLIDER -->


	<!-- STATIC BANNER TOP-->
	{% include "./inc/static_banner_top.html" %}
	<!-- STATIC BANNER -->


	<!-- DEAL OF THE DAY -->
	{% include "./inc/deal_of_the_day.html" %}
	<!-- DEAL OF THE DAY -->


	<!-- STATIC BANNER MIDDLE -->
	{% include "./inc/static_banner_middle.html" %}
	<!-- STATIC BANNER MIDDLE -->


	<!-- LATEST PRODUCTS -->
	{% include "./inc/latest_products.html" %}
	<!-- LATEST PRODUCTS -->	

{% endblock content %}

